In [ ]:
import pandas as pd
#import boto3

# confirm you can read a file from a URL
df = pd.read_csv('http://bit.ly/kaggletrain')

# confirm scikit-learn is installed
import sklearn

In [10]:
print(sklearn.__version__)

0.23.1

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  10 non-null     int64
 1   Survived     10 non-null     int64
 2   Pclass       10 non-null     int64
 3   Name         10 non-null     object
 4   Sex          10 non-null     object
 5   Age          9 non-null      float64
 6   SibSp        10 non-null     int64
 7   Parch        10 non-null     int64
 8   Ticket       10 non-null     object
 9   Fare         10 non-null     float64
 10  Cabin        3 non-null      object
 11  Embarked     10 non-null     object
dtypes: float64(2), int64(5), object(5)
memory usage: 1.1+ KB

In [12]:

from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [13]:
cols = ['Parch', 'Fare', 'Embarked', 'Sex']

df = pd.read_csv('http://bit.ly/kaggletrain', nrows=10)
X = df[cols]
y = df['Survived']

In [14]:
df_new = pd.read_csv('http://bit.ly/kaggletest', nrows=10)
X_new = df_new[cols]

ohe = OneHotEncoder()

In [15]:
ohe.fit((df[['Embarked', 'Sex']]))

OneHotEncoder()

In [16]:
ohe.categories_

[array(['C', 'Q', 'S'], dtype=object), array(['female', 'male'], dtype=object)]

In [17]:
ohe.transform((df[['Embarked', 'Sex']]))

<10x5 sparse matrix of type '<class 'numpy.float64'>'
	with 20 stored elements in Compressed Sparse Row format>

In [18]:
ct = make_column_transformer(
    (ohe, ['Embarked', 'Sex']),
    remainder='passthrough')

logreg = LogisticRegression(solver='liblinear', random_state=1)

In [19]:
pipe = make_pipeline(ct, logreg)
pipe.fit(X, y)
pipe.predict(X_new)

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0])

In [20]:
from sklearn.feature_extraction.text import CountVectorizer

In [21]:
vect = CountVectorizer()

In [22]:
dtm = vect.fit_transform(df.Name)
dtm

<10x40 sparse matrix of type '<class 'numpy.int64'>'
	with 46 stored elements in Compressed Sparse Row format>

In [23]:
print(vect.get_feature_names())

['achem', 'adele', 'allen', 'berg', 'bradley', 'braund', 'briggs', 'cumings', 'elisabeth', 'florence', 'futrelle', 'gosta', 'harris', 'heath', 'heikkinen', 'henry', 'jacques', 'james', 'john', 'johnson', 'laina', 'leonard', 'lily', 'master', 'may', 'mccarthy', 'miss', 'moran', 'mr', 'mrs', 'nasser', 'nicholas', 'oscar', 'owen', 'palsson', 'peel', 'thayer', 'timothy', 'vilhelmina', 'william']

In [24]:
pd.DataFrame(dtm.toarray(), columns = vect.get_feature_names())

,achem,adele,allen,berg,bradley,braund,briggs,cumings,elisabeth,florence,...,nasser,nicholas,oscar,owen,palsson,peel,thayer,timothy,vilhelmina,william
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,1,0,1,1,0,1,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8,0,0,0,1,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
9,1,1,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [25]:
cols = ['Parch', 'Fare', 'Embarked', 'Sex', 'Name']

In [26]:
X = df[cols]

In [27]:
ct = make_column_transformer(
    (ohe, ['Embarked', 'Sex']),
     (vect, 'Name'),
    remainder='passthrough')

In [28]:
ct.fit_transform(X)

<10x47 sparse matrix of type '<class 'numpy.float64'>'
	with 78 stored elements in Compressed Sparse Row format>

In [29]:
pipe = make_pipeline(ct, logreg)
pipe.fit(X, y);

In [30]:
pipe.named_steps

{'columntransformer': ColumnTransformer(remainder='passthrough',
                   transformers=[('onehotencoder', OneHotEncoder(),
                                  ['Embarked', 'Sex']),
                                 ('countvectorizer', CountVectorizer(), 'Name')]),
 'logisticregression': LogisticRegression(random_state=1, solver='liblinear')}

In [31]:
X_new = df_new[cols]

In [32]:
pipe.predict(X_new)

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0])

## Part 5

In [ ]:
df

In [ ]:
cols = ['Parch', 'Fare', 'Embarked', 'Sex','Name','Age']

In [ ]:
X = df[cols]

In [ ]:
pipe.fit(X,y)

In [ ]:
len(X)

In [ ]:
len(X.dropna())

In [ ]:
X.dropna(axis = 'columns')

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
imp = SimpleImputer()

In [ ]:
imp.fit_transform(X[['Age']])

In [ ]:
# De observationer som transformerats
imp.statistics_

In [ ]:
ct = make_column_transformer(
    (ohe, ['Embarked', 'Sex']),
     (vect, 'Name'),
    (imp, ['Age']),
    remainder='passthrough')

In [ ]:
ct.fit_transform(X)

In [ ]:
pipe = make_pipeline(ct,logreg)

In [ ]:
pipe.fit(X,y)

In [ ]:
pipe.named_steps

In [ ]:
X_new = df_new[cols]
pipe.predict(X_new)

In [ ]:
 SimpleImputer?

In [ ]:
# Måste ha version 3 SciKite
imp_indicator = SimpleImputer(add_indicator = True)

## Part 6

In [ ]:
df = pd.read_csv('http://bit.ly/kaggletrain')
df.shape

In [ ]:
df_new = pd.read_csv('http://bit.ly/kaggletest')
df_new.shape

In [ ]:
df.isna().sum()

In [ ]:
df_new.isna().sum()

In [ ]:
X = df[cols]
y = df['Survived']

In [ ]:
ct = make_column_transformer(
    (ohe, ['Embarked', 'Sex']),
     (vect, 'Name'),
    (imp, ['Age']),
    remainder='passthrough')

In [ ]:
ct.fit_transform(X)

In [ ]:
imp_constant = SimpleImputer(strategy = 'constant', fill_value = 'missing')

In [ ]:
imp_ohe = make_pipeline(imp_constant, ohe)

In [ ]:
imp_ohe.fit_transform(X[['Embarked']])

In [ ]:
ct = make_column_transformer(
    (imp_ohe, ['Embarked', 'Sex']),
     (vect, 'Name'),
    (imp, ['Age']),
    remainder='passthrough')

In [ ]:
ct.fit_transform(X)

## Part 7

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
cross_val_score?

In [ ]:
pipe = make_pipeline(ct,logreg)

In [ ]:
cross_val_score(pipe,X,y, cv = 5, scoring = 'accuracy').mean()

In [ ]:
sorted(sklearn.metrics.SCORERS.keys())

In [ ]:
cross_val_score(pipe,X,y, cv = 5, scoring = 'roc_auc').mean()

In [ ]:
# Tuninh

pipe.named_steps.keys()

In [ ]:
params = {}
params['logisticregression__penalty'] =  ['l1','l2']
params['logisticregression__C'] = [0.1,1,10]

In [ ]:
params

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
grid = GridSearchCV(pipe,params, cv = 5, scoring = 'accuracy')
grid.fit(X,y)

In [ ]:
results = pd.DataFrame(grid.cv_results_)

In [ ]:
results.sort_values('rank_test_score')

In [ ]:
pipe.named_steps.columntransformer.named_transformers_

In [ ]:
params['columntransformer__pipeline__onehotencoder__drop'] = [None, 'first']

In [ ]:
params['columntransformer__countvectorizer__ngram_range'] = [(1,1),(1,2)]

In [ ]:
params['columntransformer__simpleimputer__add_indicator'] = [False, True]

In [ ]:
params

In [ ]:
grid = GridSearchCV(pipe,params, cv = 5, scoring = 'accuracy')
grid.fit(X,y);

In [ ]:
grid.best_score_

In [ ]:
grid.best_params

In [ ]:
grid.predict(X_new)