__Vi bygger om logiken för att plocka ut 14 hästar när vi plockat bort de hästar som är i VNUM (1,2,3).__

In [1]:
# Common imports
import numpy as np
import os
import pandas as pd

In [2]:
# Necessary Sklearn objects used in the analysis
from sklearn.metrics import roc_curve, auc
from sklearn.ensemble import RandomForestClassifier 
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn import preprocessing

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Imputer
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import FeatureUnion

In [3]:
# DataPiplene är en pythonfil som innehåller den egenkostruerade klassen DataFrameSelector
from DataPipeline import DataFrameSelector
from sklearn.externals import joblib

/Users/ulf/anaconda3/lib/python3.7/site-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

__Läser in filen som ska köras__

In [4]:
df1 = pd.read_excel('RetryUffeR2020-04-12.xlsx')

In [5]:
df1 = df1[df1.VNUM.isin([1,2,3])]

In [6]:
df1 = df1.sort_values(['Lopp','Hast'], ascending = ['True','False']).reset_index()

In [7]:
# Importera model som ska användas
rf = joblib.load('Travmodel_top1.pkl')

In [8]:
# Import av datapipeline som ska användas
full_pipeline = joblib.load('Pipeline_top1.pkl')

__Kör modellen och plockar listan med högsta score__

In [9]:
features = full_pipeline.fit_transform(df1)

In [10]:
predict = rf.predict_proba(features)

In [11]:
# Gör om scorad array till en lista - multidimensionell
stack = predict.tolist()

In [12]:
# Sedan plockar vi den scorade sannolikheten att vara vinnare - 1
# Transformerar denna sannolikhet till en dataframe
last = []
for x in stack:
    last.append(x[1])
scored = {'Score':last}
# Konverterar till Dataframe
df_scored = pd.DataFrame.from_dict(scored)

In [13]:
len(df_scored)

21

In [14]:
df_predict2 = df1.merge(df_scored,  right_index = True, left_index = True)

In [15]:
df1_out = df_predict2[['Lopp','Hast','Score','E_P_Num','VNUM']].sort_values(['Lopp','Score'], ascending = [True,False])
df1_out

    Lopp  Hast     Score  E_P_Num  VNUM
2      1    10  0.326460        4     1
1      1     7  0.174302        4     3
0      1     1  0.149546        4     2
4      2     5  0.252374        7     1
5      2    10  0.210103        7     2
3      2     3  0.157625        7     3
7      3    14  0.239724        6     1
8      3    15  0.127552        6     3
6      3    12  0.126197        6     2
10     4    10  0.282649        2     1
11     4    12  0.180589        2     3
9      4     3  0.154103        2     2
14     5     9  0.275228        3     3
13     5     4  0.262554        3     1
12     5     3  0.237867        3     2
15     6     5  0.407365        1     1
17     6    12  0.274518        1     3
16     6     9  0.168074        1     2
20     7     4  0.276608        5     1
18     7     1  0.149194        5     3
19     7     2  0.120682        5     2

In [16]:
df1_out.sort_values('Score', ascending = False)

    Lopp  Hast     Score  E_P_Num  VNUM
15     6     5  0.407365        1     1
2      1    10  0.326460        4     1
10     4    10  0.282649        2     1
20     7     4  0.276608        5     1
14     5     9  0.275228        3     3
17     6    12  0.274518        1     3
13     5     4  0.262554        3     1
4      2     5  0.252374        7     1
7      3    14  0.239724        6     1
12     5     3  0.237867        3     2
5      2    10  0.210103        7     2
11     4    12  0.180589        2     3
1      1     7  0.174302        4     3
16     6     9  0.168074        1     2
3      2     3  0.157625        7     3
9      4     3  0.154103        2     2
0      1     1  0.149546        4     2
18     7     1  0.149194        5     3
8      3    15  0.127552        6     3
6      3    12  0.126197        6     2
19     7     2  0.120682        5     2

__Export till excel__

In [18]:
df1_out.to_excel('RetryUffeR2020-04-12Scored.xlsx', index = False)